<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Test Blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Django Test Blog</a></h1>
    </div>

    <div>
        <p>published: 14/11/2019, 2:47</p>
        <h2><a href="">My First Post</a></h2>
        <p>こんばんは！よろしこ</p>
    </div>

    <div>
        <p>公開日：2019/11/14, 2:48</p>
        <h2><a href="">2番目の投稿</a></h2>
        <p>こんばんは！よろしく～</p>
    </div>
</body>
</html>